@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registration Complete";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    @{
        if (@Model.DisplayConfirmAccountLink)
        {
            <p class="lead mt-4">
                Thank you for registering! Your account has been created.
            </p>
            <p>
                Normally, a confirmation email would be sent to you. For this demonstration, you can confirm your account by clicking the link below.
            </p>
            <div class="mt-4">
                <a id="confirm-link" href="@Model.EmailConfirmationUrl" class="btn btn-primary btn-lg">Click here to confirm your account</a>
            </div>
        }
        else
        {
            <p class="lead mt-4">
                Please check your email to confirm your account.
            </p>
        }
    }
</div>
